<div align=" center ">

  <div style="border: 5px ridge #aa2256;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 0px;
    font-size: 30px;
    font-family: Arial;">

    <p class="zagl">
      Функция распределения

    </p>
    <p class="text">
      Определение:
      Фу́нкция распределе́ния в теории вероятностей — функция, характеризующая распределение случайной величины или случайного вектора; вероятность того, что случайная величина
      X примет значение, меньшее
      x, где
      x — произвольное действительное число.

    </p>
    <p class="text">
      Принимает вид: F(X).

    </p>

    <p class="text">
      Свойства функции распределения:

    </p>
    </p>
    <p class="text">

      1) 0<=F(X)<=1

    </p>
    <p class="text">
      2) F(x2)>=F(x1), при x2>=x1

    </p>
    <p class="text">
      3) F(c)=0 c=constant

    </p>


    <p class="text">
      Формула Функции распределения: F(X)=P(X< x), где P(X< x) = вероятность наступления события X до значения х,

    <p class="text">
      Пример расчета Функции распределения с помошью нашего гема TeorVero

    </p>
    <p class="text">

      F(X)=<%= "#{@users} " %>
      X=[1,2,3], P=[0.1,0.2,0.7]
    </p>






    <div class="tabl">

      <div class="twomore">
        <%=button_to  'Математическое ожидание',  '/matoj', method: :get %>
      </div>
      <div class="left">

        <%=button_to  'Дисперсия',  '/despr', method: :get %>
      </div>
      <div class="right">
        <%=button_to  'Квадратическое отклонение',  '/kvadr', method: :get %>
      </div>
    </div>
    <div class="cl">


      <%=button_to  'Вернуться на главную',  '/window', method: :get %>
    </div>

    <div class="bb">
      <%=button_to  'Умоляю верните меня на страничку с красивой girl, теория вероятностей такая нудная',  '/index', method: :get %>
    </div>
  </div>

</div>
