<div align=" center ">

  <div style="border: 5px ridge #aa2256;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 0px;
    font-size: 30px;
    font-family: Arial;">

    <p class="zagl">
      Среднеквадратическое отклонение

    </p>
    <p class="text">
      Определение:
      Среднеквадрати́ческое отклонение (среднеквадрати́чное отклонение, стандартное отклонение[1]) — наиболее распространённый показатель рассеивания значений случайной величины относительно её математического ожидания (аналога среднего арифметического с бесконечным числом исходов). Обычно означает квадратный корень из дисперсии случайной величины,
      но иногда может означать тот или иной вариант оценки этого значения.

    </p>
    <p class="text">
      Принимает вид: O(X).

    </p>

    <p class="text">
      Свойства среднеквадратического отклонения:

    </p>
    <p class="text">

      Такие же как и у дисперсии.

    </p>

    <p class="text">
      Формула среднеквадратического отклонения: O(X)=sqrt(D(X)), где D(X) = дисперсия,

    <p class="text">
      Пример расчета среднеквадратического отклонения с помошью нашего гема TeorVero

    </p>
    <p class="text">
      O(X)=<%= "#{@wishes} " %>, где
      D(X)=<%= "#{@users} " %>
      X=[1,2,3], P=[0.1,0.2,0.7]
    </p>






    <div class="tabl">

      <div class="twomore">
        <%=button_to  'Математическое ожидание',  '/matoj', method: :get %>
      </div>
      <div class="left">

        <%=button_to  'Дисперсия',  '/despr', method: :get %>
      </div>
      <div class="right">
        <%=button_to  'Функция распределения',  '/func', method: :get %>
      </div>
    </div>
    <div class="cl">


      <%=button_to  'Вернуться на главную',  '/window', method: :get %>
    </div>

    <div class="bb">
      <%=button_to  'Умоляю верните меня на страничку с красивой girl, теория вероятностей такая нудная',  '/index', method: :get %>
    </div>
  </div>

</div>
