<div align=" center ">

  <div style="border: 5px ridge #aa2256;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 0px;
    font-size: 30px;
    font-family: Arial;">

    <p class="zagl">
      Математическое ожидание

    </p>
    <p class="text">
      Определение:
      Математи́ческое ожида́ние — понятие в теории вероятностей, означающее среднее (взвешенное по вероятностям возможных значений) значение случайной величины. В случае непрерывной случайной величины подразумевается взвешивание по плотности распределения (более строгие определения см. ниже). Математическое ожидание случайного вектора равно вектору,
      компоненты которого равны математическим ожиданиям компонентов случайного вектора.

    </p>
    <p class="text">
      Принимает вид: M(X).

    </p>

    <p class="text">
      Свойства математического ожидания:

    </p>
    <p class="text">

      1) M(c)=c c=constant

    </p>
    <p class="text">
      2) M(X+Y)=M(X)+M(Y)

    </p>
    <p class="text">
      3) M(X*c)=M(X)*c c=constant

    </p>
    <p class="text">
      4) M(X*Y)=M(X)*M(Y)

    </p>
    <p class="text">
      Формула математического ожидания: M(X)=sum(xi*pi,i=1...infinity), где xi=случайное значение,

    </p>
    <p class="text">
      а pi=соответсвующая ему вероятность, причем сумма вероятностей обязана равняться единице

    </p>
    <p class="text">
      Пример расчета математического ожидания с помошью нашего гема TeorVero

    </p>
    <p class="text">

      M(X)=<%= "#{@users} " %>
      X=[1,2,3], P=[0.1,0.2,0.7]
    </p>






    <div class="tabl">

      <div class="twomore">
        <%=button_to  'Дисперсия',  '/despr', method: :get %>
      </div>
      <div class="left">

        <%=button_to  'Квадратическое отклонение',  '/kvadr', method: :get %>
      </div>
      <div class="right">
        <%=button_to  'Функция распределения',  '/func', method: :get %>
      </div>
    </div>
    <div class="cl">


      <%=button_to  'Вернуться на главную',  '/window', method: :get %>
    </div>

    <div class="bb">
    <%=button_to  'Умоляю верните меня на страничку с красивой girl, теория вероятностей такая нудная',  '/index', method: :get %>
    </div>
    </div>

</div>
