<div align=" center ">
  <div class="win">
    <p class="zagl">
      Calculator

    </p>

    <div class="tabl">

        <p class="text-block">

          <code>matojid</code> - Расчитывает математическое ожидание с заданными случайными значениями и их вероятностями
        </p>
        <p class="text-block">
          <code>dispersion</code> - Расчитывает дисперсию с заданными случайными значениями и их вероятностями
        </p>


        <p class="text-block">

          <code>funcdistr</code> - Расчитывает Функцию распределения с заданными случайными значениями и их вероятностями
        </p>
        <p class="text-block">

          <code>kvadrdev</code> - Расчитывает квадратное отклонение с заданными случайными значениями и их вероятностями
        </p>


    </div>

    <div class ="tabl">
      <div class ="login">
        <%= form_tag('/answer') do -%>
          <p class="text">
            Function
          </p>
          <div class='form-field'>
            <%=label_tag 'name', '' %>
            <%=text_field_tag 'func[name]'%>
          </div>
          <p class="text">
            X
          </p>
          <div class='form-field'>
            <%=label_tag 'iks', '' %>
            <%=text_field_tag 'func[iks]'%>
          </div>
          <p class="text">
            P
          </p>
          <div class='form-field'>
            <%=label_tag 'vero', '' %>
            <%=text_field_tag 'func[vero]'%>
          </div>
          <div class='form-field'>
            <%= submit_tag 'Calculate' %>
          </div>

        <% end -%>

      </div>

    </div>

    <%=button_to  'Вернуться на главную',  '/index', method: :get %>
    <%=button_to  'История',  '/history', method: :get %>







  </div>
</div>
