<div align=" center ">

  <div style="border: 5px ridge #aa2256;
    background: #06E2D1;
    padding: 15px;
    border-radius: 0px;
    font-size: 30px;
    font-family: Arial;">

    <p class="text-block">
      На данный момент в полном курсе "Теория вероятностей и Математическая статистика", насчитывается куда
      больше определений, характеристик и фунцкий, но сейчас мы рассмотрим, на мой взгляд, самые необходимые

    </p>

    <div class="tabl">
      <div class="onemore">

        <%=button_to  'Математическое ожидание',  '/matoj', method: :get %>
      </div>
      <div class="twomore">
        <%=button_to  'Дисперсия',  '/despr', method: :get %>
      </div>
      <div class="left">

        <%=button_to  'Квадратическое отклонение',  '/kvadr', method: :get %>
      </div>
      <div class="right">
        <%=button_to  'Функция распределения',  '/func', method: :get %>
      </div>
    </div>


  <%=button_to  'Умоляю верните меня на страничку с красивой girl, теория вероятностей такая нудная',  '/index', method: :get %>
  </div>

</div>
